alembic==0.9.4
asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
cffi==1.10.0
click==6.7
constantly==15.1.0
cryptography==2.0.3
cssselect==1.0.1
enum34==1.1.6
Flask==0.12.2
Flask-Migrate==2.1.0
Flask-SQLAlchemy==2.2
gunicorn==19.7.1
hyperlink==17.3.0
idna==2.5
incremental==17.5.0
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
lxml==3.8.0
Mako==1.0.7
MarkupSafe==1.0
parsel==1.2.0
psycopg2==2.7.3
pyasn1==0.3.2
pyasn1-modules==0.0.11
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==17.2.0
python-dateutil==2.6.1
python-editor==1.0.3
queuelib==1.4.2
Scrapy==1.4.0
service-identity==17.0.0
six==1.10.0
SQLAlchemy==1.1.13
Twisted==17.5.0
w3lib==1.18.0
Werkzeug==0.12.2
zope.interface==4.4.2
